<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="webTemplate" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <webTemplate>
    <add key="betClass" value="//div[@class='bet clearfix']"/>
    <add key="league" value="Tenis,"/>
    <add key="type" value="Typ:"/>
    <add key="bid" value="Stawka:"/>
    <add key="chancesMin" value="Ocena szans:"/>
    <add key="exchange" value="Kurs:"/>
    <add key="predictedProfit" value="Przewidywany zysk:"/>
  </webTemplate>
</configuration>
